#pokemonDataContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.pokemon-card {
    border: 2px solid grey;
    padding: 10px;
    margin-bottom: 20px;
    width: 100px;
    background-color: #fff;
}

#localStorageContainer {
    margin-top: 20px;
}